.custom-sidebar{
    background: #222629;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.8);
    height: 100vh;
    z-index: 1;
    position: relative;
}
.side-show{
    width: 300px !important;
}
.side-hide{
    width: 0px;
    /* overflow: hidden; */
}
.side-hide .logo-section{
    display: none !important;
}
.custom-sidebar .logo-section{
    text-align: center;
    /* border: 1.5px solid #363636; */
    padding: 1rem 0;
}
.custom-sidebar .logo-section .logo{
    width: 150px;
}
.side-main{
    margin-top: 2rem;
}
.side-main{
    height: 100%;
    overflow: auto;
}
.side-main .side-list{
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}
.side-main .side-list .side-link{
    border: 1.5px solid #363636;
    border-left: none !important;
    border-right: none !important;
    display: block;
    width: 100%;
    padding: 0.7rem 2rem;
}
.side-main .side-list .dropdown-toggler{
    position: relative;

}
.side-main .toggle-active{
    color: var(--primary) !important;
}
.side-main .side-list .toggle-active::after{
    position: absolute;
    content: '';
    bottom: -10px;
    left: 0;
    background-color: var(--secondary);
    width: 90%;
    height: 5px;
}
.side-main .side-list .toggle-active::before{
    position: absolute;
    content: '';
    bottom: -20px;
    left: 0;
    background-color: var(--secondary);
    width: 60%;
    height: 5px;
}
.side-main .side-list a{
    text-decoration: none;
    font-size: 25px;
    color: var(--white);
    font-weight: 500;
}
.side-main .side-list a.active{
    color: var(--primary);
}
.side-main .side-list a:hover{
color: var(--primary);
}
/* .side-main .side-link .active{
color: var(--primary);
} */
.custom-dropdown ul{
padding-left: 1rem;
list-style: none;
}
.sidebar-close{
    position: absolute;
    z-index: 1;
    right: -32px;
    top: 50%;
    transform: translate(0%, 50%);
    background: linear-gradient(180deg, var(--primary) 0%, var(--secondary) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--white);
    height: 50px;
    width: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}