:root{
    --primary:#C8B376;
    --secondary:#604D29;
    --white:white;
}
.custom-main{
    display: flex;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.custom-drop-menu{
    margin-top: 1.5rem;
}